*{
            margin:0;
            color:gray;
            /*font-size: 50px;*/
            /*text-align:center;*/
        }
        /* top */
        .top{
             background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBKSfpQQDHG4f5MR-m63_sav-YwldeZ3ijOA&s");
             background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .top .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:10px;
        }
        .top .logo{
            /*border:1px solid red;*/
            font-size: 35px;
            font-weight: bold;
        }
        .top .logo img{
            width: 100px;
            vertical-align: middle;
        }
        .top .top-nav{
            font-size: 25px;
            font-weight: bold;     
        }
        .top .top-nav a{
            text-decoration: none;
            color:rgb(246, 244, 244);
        }
        /* nav */
        .nav {
            background-image: url("https://tb-static.uber.com/prod/image-proc/processed_images/5df651500181c550f7736584284dc4c1/30be7d11a3ed6f6183354d1933fbb6c7.jpeg");
             background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
        }
        .nav ul {
            list-style-type: none;  
            margin: 0; 
            padding: 0; 
            overflow: hidden; 
            background-color: #8c8c8c; 
        }
        .nav li {
            float: left; 
        }
        .nav li a {    
            display: block;  
            color: white;  
            text-align: center;  
            padding: 14px 16px;  
            text-decoration: none;  
        }
        .nav li a:hover {
            background-color: #111; 
        }
        /*下拉式選單*/
        .dropdown:hover .dropdown-content {
            display: block;   /*使用block呈現上下排列*/
        }
        li.dropdown:hover{
            background-color: #2a2a2a;  /*設定背景顏色*/
        }
        .dropdown-content {  /*設定下拉選單內容格式*/
            display: none;
            position: absolute;
            background-color: #333;
            min-width: 160px;
            z-index: 1;
        }
        .dropdown-content a {/*設定下拉選單連結內容格式*/
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        /* slider */
        .slider{
            background-color: black;
        }
        /* banner*/
        .banner{
            background-image: linear-gradient(#eda6a6,#a51616);
            padding:30px;
        }
        .banner h1{
            padding: 25px;
            color: black;
            text-align: center;
        }
        /*faculty*/
        .faculty {
            background-color:white;
            display: block;
            justify-content: center;
            padding:40px;
        }
        .faculty h2 {
            font-size: 25px;
            color: rgb(50,51,52);
            padding-bottom:40px;
            text-align: center;
        }
        .faculty .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            /*border:1px solid red;*/
        }
        .faculty .food{
            /*border:1px solid blue;*/
            display:block;
            text-decoration: none;
        }
        .faculty .food img{
            height: 200px;
            width: 200px;
        }
        .faculty .food h3{
                color: White;
                background-color: rgba(39,40,34,.500);
                text-align: center;           
        }
        .contact {
            display: block;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;                
        }
        .contact h2{
            color: rgb(54, 82, 110);
            font-size: 25px;
            text-align: center;
        }
        .contact .infos{
            display:flex;
            margin-top: 30px; 
            justify-content: center;
        }
        .contact .infos .left{
            display:block;
            text-align: left;
            margin-right: 30px;
        }
        .contact .infos .left b{
            display:block;
            text-align: left;
            margin-top: 10px;
            text-decoration: bold;
            color: Gray;
            font-size: 18px;
            line-height: 18px;
        }
        .contact .infos .left span{
            display:block;
            text-align: left;
            margin-top: 10px;
            color: rgba(39,40,34,0.5);
            font-size: 16px;
            padding-left: 27px;
        }
        .contact .infos .right{
            height: 200px;               
        }
        .contact .infos .right iframe{
            width: 100%;
            height: 100%;
            border: 1px solid rgba(39,40,34,0.50);
        }
        /*footer*/
        .footer{
            display: flex;
            justify-content: center;
            background-color: rgb(25,26,30);
            padding: 35px 0;
        }
